<div>
    <button
      id="upBtn" aria-label="Button Up"
    ><i class="arrow up"></i></button>
</div>
<div class="footer w-600">&#169; kusaeni 2022 &middot; dibuat dengan <a class="lume" href="https://lume.land">lume</a> dan <a href="https://deno.com">deno</a></div>
</div> <!-- container -->
</body>
</html>
